* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }

@font-face {
  font-family: segoeUI;
  src: url(font/Segoe\ UI.ttf);
}

a {
    text-decoration: none;
    color: #0067b8;
  }
  
  body {
    font-family:  system-ui, -apple-system,Segoe UI, BlinkMacSystemFont,  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 440px;
    min-width: 320px;
    width: calc(100% - 40px);
    min-height: 338px;
    box-shadow: 0 30px 100px rgb(0 0 0 / 20%);    background-color: #fff;
    padding: 44px;
}

.container-header {
    margin-bottom: 15px;
}

.heading {
    font-size: 1.5rem;
    color: #1b1b1b;
    font-weight: 600;
    margin-bottom: 12px;
}

form input {
    padding: 6px 0;
    width: 100%;
    border: none;
    height: 36px;
    border-bottom: 1px solid #1b1b1b;
    margin-bottom: 15px;
    outline: none;
}

form input::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.create-acct, .access-acct {
    margin-bottom: 18px;
    font-size: 14px;
}

.create-acct a {
    color: #0067b8;
}

.btn-container {
    width: 100%;
    margin-top: 20px;
}

.btn {
    float: right;
    /* display: inline-block; */
    min-width: 100px;
    padding: 4px 12px 4px 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /* vertical-align: middle; */
    text-overflow: ellipsis;
    touch-action: manipulation;
    color: #000;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    min-height: 32px;
    border: none;
    background-color: #ccc;
    background-color: rgba(0,0,0,0.2);
    min-width: 108px;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    cursor: pointer;
}

.countClick {
	border-radius: 4px;
}

.primary {
    background-color: #0067b8 !important;
    color: #fff !important;
    margin-left: 10px;
}

.small {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
	font-weight: 550;
    color: #1b1b1b;
	display: flex;
	align-items: center;
	gap: 0 5px;
}

.small a img {
	color: gray;
}

form input:focus {
    border-bottom-color: #0067b8;
}

.control-group {
    /* background: #fff; */
    text-align: left;
    padding: 20px;
    margin: 10px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
  }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px solid #d4d3d3;
  }
  .control--radio .control__indicator {
    border-radius: 50%;
  }
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #ccc;
  }
  .control input:checked ~ .control__indicator {
    background: #2aa1c0;
  }
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #0e647d;
  }
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }
  .control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
  }
  .control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
  }

.verify-btn {
    display: block;
    width: 100%;
    background-color: #0067b8;
    color: #fff;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    pointer-events: all;
}

.disabled {
    background-color: #e7e7e7;
    color: #000;
    pointer-events: none;
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

#error-msg {
	font-size: 13px;
	margin-bottom: 10px;
	font-weight: 700;
	color: rgba(255, 0, 0, 0.836);
	display: none;
}

@media screen and (max-width: 600px) {
    body {
        display: block;
        background: #fff;
        width: 100%;
    }
    .container {
        box-shadow: unset;
        width: 100%;
        height: 100vh;
        display: block;margin: auto;
    }
}